{% extends 'main.html' %}

{% block content %}

<div class="your-fields-component">
    <div class="your-fields-component-text">
        <h3>Your Fields</h3>
        {% include "base/fields_component.html" %}
    </div>

</div>

<div class="field-headers">
    <div class="field-name">
        <h2>{{ field.name }}</h2>
    </div>
    {% if request.user.is_authenticated %}
    <div class="new-indecision-button">
        <p><a id="new-indecision-button-text" href="{% url 'create-indecision' %}">New Indecision</a></p>
    </div>
    {% endif %}
</div>

<div class="home-page-content">
    <div class="indecision-wrapper">
        {% for indecision in indecisions %}
        <div class="indecision">
            <h4>{{ indecision.title }}</h4>
            <p>{{ indecision.description }}</p>
            <p>No earlier than {{ indecision.no_earlier_than }}</p>
            <p>Status : {{ indecision.status.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}